<!-- Navbar -->
<nav class="navbar">
    <div class="navbar-container">
        <div class="navbar-left">
            <h1><a href="/">studyHub</a></h1>
            <ul>
                <li><a href="/">Home</a></li>
                <!-- Add more navigation links as needed -->
            </ul>
        </div>
        <div class="navbar-search-bar">
            <form action="{% url 'home' %}" method="GET">
                <input type="text" placeholder="search..." 
                name="q"/>
            </form>
        </div>
        {% if messages %}
            <div>
                <ul class="flash-messages">
                    {% for message in messages %}
                        <li>{{message}}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
       
        <div class="navbar-right">
            <ul>
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="">Register</a></li>
                <!-- Add more navigation links as needed -->
            </ul>
        </div>
    </div>
</nav>
