<!-- Navbar -->
<nav class="navbar">
    <div class="navbar-container">
        <div class="navbar-left">
            <h1><a href="/">studyHub</a></h1>
        </div>
        <div class="navbar-search-bar">
            <form action="{% url 'home' %}" method="GET">
                
                <input type="text" placeholder="search..." 
                    name="q"/>
                
            </form>
        </div>
        {% if messages %}
            <div>
                <ul class="flash-messages">
                    {% for message in messages %}
                        <li>{{message}}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
       
        <div class="navbar-right">
            <ul style="text-decoration: none; display: inline;">
                {% if request.user.is_authenticated %} <!--already logged in-->
                    <small>Logged in as {{user.username}}</small>
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                    
                {% else %} <!--not logged in-->
                    <li><a href="{% url 'login' %}">Login</a></li>
                {% endif %}
                <li><a href="{% url 'register' %}">Sign Up</a></li>
                <!-- Add more navigation links as needed -->
            </ul>
        </div>
    </div>
</nav>
