{% extends 'parent_hub/base.html' %}

{% block content%}
<style>
    .profile-container{
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
    }
</style>

<main class="profile-page layout layout--3">
    <div class="container">
      <!-- Topics Start -->
      {% include 'Rooms/topics_feed.html' %}
      <!-- Topics End -->

      <!-- Room List Start -->
      <div class="roomList">
        <div class="profile">
          <div class="profile__avatar">
            <div class="avatar avatar--large active">
              <img src="{{participant.avatar.url}}" />
            </div>
          </div>
          <div class="profile__info">
            <h3>{{participant.username}}</h3>
            <p>@{{participant.username}}</p>
            {% if request.user == participant %}
            <a href="{% url 'edit-user' %}" class="btn btn--main btn--pill">Edit Profile</a>
            {% endif %}
          </div>
          <div class="profile__about">
            <h3>About</h3>
            <p>
              {{participant.bio}}
            </p>
          </div>
        </div>

        <div class="roomList__header">
          <div>
            <h2>Study Rooms Hosted by {{participant.username}}</a>
            </h2>
          </div>
        </div>
        {% include 'Rooms/rooms_feed.html' %}
      </div>
      <!-- Room List End -->

      <!-- Activities Start -->
      {% include 'Rooms/activity_feed.html' %}
      <!-- Activities End -->
    </div>
  </main>

{% endblock %}